<div class="bg-image">
  <div class="bg-mask">
    <div id="preface">
      <p>映画館の上映作品を求めている人と<br>作品のコンテンツホルダーが<br>ニーズを直接話し合えるアプリです。
      <br>
      Filmlinkkで映画の裾野を広げていきましょう！</p>
    </div>

    <div class="sign_in_field">
      <% if client_signed_in? %>
        <p class="entrance"><%= current_client.name %>さん</p>
          <p class="entrance_link"><%= link_to "作品一覧へ", films_path %>
          <%= link_to "logout", destroy_client_session_path, method: :delete %></p>
      <% elsif right_holder_signed_in? %>
        <p class="entrance"><%= current_right_holder.name %>さん</p>
          <p class="entrance_link"><%= link_to "作品一覧へ", films_path %>
          <%= link_to "logout", destroy_right_holder_session_path, method: :delete %></p>
      <% else %>
        <p class="entrance">上映作品を探している方</p>
        <p id="client_entrance" class="entrance_link"><%= link_to t('view.login'), new_client_session_path %>
        <%= link_to t('view.signin'), new_client_registration_path %></>

        <p class="entrance">作品の上映権をお持ちの方</p>
        <p id="right_holder_entrance" class="entrance_link"><%= link_to t('view.login'), new_right_holder_session_path %>
        <%= link_to t('view.signin'), new_right_holder_registration_path %>
      <% end %></>
    </div>
  </div>
</div>
