<h3><%= @client.name %>さんが上映できる映画一覧</h3>

<% @bookings.each do |booking| %>
  <div>
    <p class=""><%= t('view.title') %>: <%= link_to booking.film.title, film_path(booking.film.id) %></p>
    <p class=""><%= t('view.director') %>: <%= booking.film.director %></p>
    <p><%= image_tag(booking.film.image.url) if booking.film.image.present? %></p>
  </div>
<% end %>

<%= link_to t('view.back'), client_path(@client) %>
<%= link_to t('activerecord.models.client')+t('view.index'), clients_path %>
<%= link_to t('activerecord.models.film')+t('view.index'), films_path %>
