<h3><%= t('activerecord.models.film')+t('view.index') %></h3>

<p class="commentary">
リストの作品名をクリックして詳細をご確認ください。詳細画面から上映権を持つ人にメッセージを送ることができます。どんどん交流しましょう！<br>ここでは作品名や監督名などのキーワード、製作年で検索ができ、製作国やジャンルで絞り込みもできます
</p>

<div id="ransack_form">
  <%= search_form_for @q do |f| %>
    <div class="ransack_item">
    <%= f.label :title_or_intro_or_director_or_cast_cont, t('view.keyword') %>
    <%= f.search_field :title_or_intro_or_director_or_cast_cont %>
    </div>
    <div class="ransack_item">
    <%= f.label :production_year %>
    <%= f.number_field :production_year_gteq, min: 1893.0, step: 1.0 %>年〜
    <%= f.number_field :production_year_lteq, min: 1893.0, step: 1.0 %>年
    </div>
    <div class="ransack_item">
    <%= f.submit t('helpers.submit.search') %>
    </div>
  <% end %>
</div>

<div class="film_index">
  <table class="sticky_table">
    <thead>
      <tr>
        <th class="blank"><%= t('activerecord.attributes.film.title') %></th>
        <th class="table_header"><%= t('activerecord.attributes.film.director') %></th>
        <th class="table_header"><%= t('activerecord.attributes.film.production_year') %></th>
        <th class="table_header"><%= sort_link(@q, :production_country, t('activerecord.attributes.film.production_country')) %></th>
        <th class="table_header"><%= sort_link(@q, :genre, t('activerecord.attributes.film.genre')) %></th>
        <th class="table_header"><%= t('activerecord.attributes.film.image') %></th>
        <th class="table_header"><%= t('activerecord.attributes.film.intro') %></th>
        <th class="table_header"><%= t('activerecord.attributes.film.cast') %></th>
        <% if right_holder_signed_in? %>
          <%# # <% if current_right_holder.id == film.right_holder.id %>
            <th class="option_order">&nbsp;</th>
          <%# # <% end %>
        <% end %>
      </tr>
    </thead>

    <tbody>
    <% @films.each do |film| %>
      <tr>
        <th id="film_title" class="film_data"><%= link_to film.title, film_path(film.id) %></th>
        <td class="film_data"><%= film.director %></td>
        <td class="film_data"><%= film.production_year %></td>
        <td class="film_data"><%= film.production_country %></td>
        <td class="film_data"><%= film.genre %></td>
        <td class="film_data">
          <%= image_tag(film.image.thumb.url) if film.image.present? %>
        </td>
        <td class="film_data"><%= film.intro %></td>
        <td class="film_data"><%= film.cast %></td>
        <% if right_holder_signed_in? %>
          <% if current_right_holder.id == film.right_holder.id %>
            <td class="option_order">
            <%= link_to t('view.destroy'), film_path(film.id), method: :delete, data: { confirm: t('view.destroy_confirm')} %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @films %>

</div>

  <% if client_signed_in? %>
    <%= link_to t('view.logout'), destroy_client_session_path, method: :delete %>
  <% elsif right_holder_signed_in? %>
    <%= link_to t('view.registrate_film'), new_film_path, class: "film_create" %>
    <%= link_to t('view.profile'), right_holder_path(right_holder_id: current_right_holder.id) %>
    <%= link_to t('view.logout'), destroy_right_holder_session_path, method: :delete %>
  <% end %>
  <%= link_to t('activerecord.models.client')+t('view.index'), clients_path, class: "client_index" %>
  <%= link_to t('activerecord.models.film')+t('view.index'), films_path, class: "film_index" %>
