<h3><%= t('activerecord.models.film')+t('view.index') %></h3>

<p>作品名をクリックすると詳細が見られます。詳細画面からは上映権を持つ人にメッセージを送ることができます！<br>作品名、監督名などのキーワードや、製作年で検索ができます</p>

<%# 検索フィールド %>

 <div class="film_index">
    <table class="sticky_table">
      <thead>
      <% @films.each do |film| %>

        <tr>
          <th class="blank"><%= t('activerecord.attributes.film.title') %></th>
          <th class="table_header"><%= t('activerecord.attributes.film.director') %></th>
          <th class="table_header"><%= t('activerecord.attributes.film.production_year') %></th>
          <th class="table_header"><%= t('activerecord.attributes.film.production_country') %></th>
          <th class="table_header"><%= t('activerecord.attributes.film.images') %></th>
          <th class="table_header"><%= t('activerecord.attributes.film.intro') %></th>
          <th class="option_order"><%= t('activerecord.attributes.film.cast') %></th>
          <th class="option_order"><%= t('activerecord.attributes.film.genre') %></th>
          <% if right_holder_signed_in? %>
            <%# # <% if current_right_holder.id == film.right_holder.id %>
              <th class="option_order">&nbsp;</th>
            <%# # <% end %>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td id="film_title" class="film_data"><%= link_to film.title, film_path(film.id) %></td>
          <td class="film_data"><%= film.director %></td>
          <td class="film_data"><%= film.production_year %></td>
          <td class="film_data"><%= film.production_country %></td>
          <td class="film_data">
            <% film.images.each do |image| %>
            <%= image_tag(image.url(:thumb)) %>
            <% end %>
          </td>
          <td class="film_data"><%= film.intro %></td>
          <td class="film_data"><%= film.cast %></td>
          <td class="film_data"><%= film.genre %></td>
          <% if right_holder_signed_in? %>
            <% if current_right_holder.id == film.right_holder.id %>
              <td class="option_order">
              <%= link_to t('view.destroy'), film_path(film.id), method: :delete, data: { confirm: t('view.destroy_confirm')} %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <% if client_signed_in? %>
    <%= link_to t('view.logout'), destroy_client_session_path, method: :delete %>
  <% elsif right_holder_signed_in? %>
    <%= link_to t('view.registrate_film'), new_film_path %>
    <%= link_to t('view.profile'), right_holder_path(current_right_holder.id) %>
    <%= link_to t('view.logout'), destroy_right_holder_session_path, method: :delete %>
  <% end %>
  <%= link_to t('activerecord.models.client')+t('view.index'), clients_path %>
