<h3>作品詳細</h3>

<div>
  <P>作品名:<br><%= @film.title %></p>
</div>

<div>
  <P>監督:<br><%= @film.director %></p>
</div>

<div>
  <P>製作年:<br><%= @film.production_year %></p>
</div>

<div>
  <P>製作国:<br><%= @film.production_country %></p>
</div>

<div>
  <P>上映時間:<br><%= @film.running_time %></p>
</div>

<div>
  <% if @film.images? %>
  <ul>
    <% @film.images.each do |image| %>
      <li><%= image_tag image.url %></li>
      <%# image.to_s? %>
    <% end %>
  </ul>
  <% end %>
</div>

<div>
  <P>解説:<br><%= @film.intro %></p>
</div>

<div>
  <P>キャスト:<br><%= @film.cast %></p>
</div>

<div>
  <P>ジャンル:<br><%= @film.genre %></p>
</div>

<div>
  <P>資料（脚本など）:<br><%= @film.document %></p>
</div>

<% if client_signed_in? %>
  <div class="client_item">
    <p class="client_item_label"></p>
    <p class="client_item_detail"><%= link_to t('view.this_right_holder')+t('view.send_message'), conversations_path, client_id: current_client.id, right_holder_id: @film.right_holder.id, method: :post %></p>
  </div>
<% elsif right_holder_signed_in? %>
  <% if current_right_holder.id == @film.right_holder.id %>
    <%= link_to "作品情報を編集", edit_film_path(@film) %>
  <% end %>
<% end %>

<%= link_to t('activerecord.models.film')+t('view.index'), films_path %>
