<h3>作品詳細</h3>

<div>
  <P>作品名:<br><%= @film.title %></p>
</div>

<div>
  <P>監督:<br><%= @film.director %></p>
</div>

<div>
  <P>製作年:<br><%= @film.production_year %></p>
</div>

<div>
  <P>製作国:<br><%= @film.production_country %></p>
</div>

<div>
  <P>上映時間:<br><%= @film.running_time %></p>
</div>

<div>
  <ul>
  <% @film.images.each do |image| %>
    <li><%= image_tag image.url %></li>
    <%# image.to_s? %>
  <% end %>
  </ul>
</div>

<div>
  <P>解説:<br><%= @film.intro %></p>
</div>

<div>
  <P>キャスト:<br><%= @film.cast %></p>
</div>

<div>
  <P>ジャンル:<br><%= @film.genre %></p>
</div>

<div>
  <P>資料（脚本など）:<br><%= @film.document %></p>
</div>

    <%= link_to "作品一覧へ", films_path %>
    <%= link_to "作品一覧へ", films_path %>
