<h1>RightHolders#show</h1>

  <div class="right_holder_item">
    <p class="right_holder_item_label"></p>
    <p class="right_holder_item_detail"><%= @right_holder.name %></p>
  </div>

  <div class="right_holder_item">
    <p class="right_holder_item_label"></p>
    <p class="right_holder_item_detail"><%= @right_holder.email %></p>
  </div>

  <div class="right_holder_item">
    <p class="right_holder_item_label"></p>
    <p class="right_holder_item_detail"><%= @right_holder.intro %></p>
  </div>

  <div class="right_holder_item">
    <p class="right_holder_item_label"></p>
    <p class="right_holder_item_detail"><%= image_tag(@right_holder.icon.url) if @right_holder.icon.present? %></p>
  </div>

  <% if @right_holder == current_right_holder %>
    <%= link_to "マイページを編集", edit_right_holder_registration_path(@right_holder) %>
  <% end %>
<%= link_to "作品一覧", films_path %>
<%= link_to "興行主一覧", clients_path %>
