<h3>RightHolders#show</h3>

  <div class="right_holder_item">
    <p class="right_holder_item_label"></p>
    <p class="right_holder_item_detail"><%= @right_holder.name %></p>
  </div>

  <div class="right_holder_item">
    <p class="right_holder_item_label"></p>
    <p class="right_holder_item_detail"><%= @right_holder.email %></p>
  </div>

  <div class="right_holder_item">
    <p class="right_holder_item_label"></p>
    <p class="right_holder_item_detail"><%= @right_holder.intro %></p>
  </div>

  <div class="right_holder_item">
    <p class="right_holder_item_label"></p>
    <p class="right_holder_item_detail"><%= image_tag(@right_holder.icon.url) if @right_holder.icon.present? %></p>
  </div>

  <% if @right_holder == current_right_holder %>
    <%= link_to t('view.this_page')+t('view.edit'), edit_right_holder_registration_path(@right_holder) %>
    <%= link_to t('view.logout'), destroy_right_holder_session_path, method: :delete %>
  <% end %>
<%= link_to t('activerecord.models.film')+t('view.index'), films_path %>
<%= link_to t('activerecord.models.client')+t('view.index'), clients_path %>
