<!DOCTYPE html>
<html>
  <head>
    <title>Filmlinkk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="wrapper">
      <header class="header_container">
        <h2 id="header_title"><%= link_to "Filmlinkk", root_path %></h2>
        <p>映画上映をもっと手軽に</p>
        <div class="bg"></div>
      </header>


    <div class="main_container">
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>

      <footer>
        <div class="footer_container">
          <p><small>(C)2019 Filmlinkk. All Rights Reserved.</small></p>
        </div>
      </footer>
    </div>
  </body>
</html>
